# These files will be ignored by Git
#
# Be sure to append /** to folders to have everything inside them ignored.

.idea
**/node_modules/**
.nyc_output/**
coverage/**
npm-debug.log
yarn.lock
executeinparallel-integration.log
