# These files will be ignored by Git
#
# Be sure to append /** to folders to have everything inside them ignored.

.idea
**/node_modules/**
.nyc_output/
coverage/
npm-debug.log
executeinparallel-integration.log

# Prepared files to publish to npm.
/release/

# Compiled TS.
packages/*/dist

packages/ckeditor5-dev-release-tools/tests/test-fixtures/**
!packages/ckeditor5-dev-release-tools/tests/test-fixtures/.gitkeep

# Generated automatically via CircleCI.
.circleci/config-tests.yml
